{
    "extends": ["airbnb-standard"],
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true,
        "mocha": true,
        "commonjs": true,
        "es6": true,
        "jquery": true
    },
    "rules": {
        "indent": ["error", 2],
        "prefer-arrow-callback" : ["error", { "allowNamedFunctions": true }],
        "react/jsx-indent-props": ["error", 2],
        "react/jsx-indent": ["error", 2],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    }
}
